.DS_Store
.idea
*.iml
*.ipr
*.iws
*~
.classpath
/*/.classpath
/*/*/.classpath
.metadata
/*/.metadata
/*/*/.metadata
.project
.log
.settings
/*/*/target
/*/target
/target
/*/*/build
/*/build
/build
spark-warehouse
/*/*/job-override.properties

