.DS_Store
.idea
*.iws
*.ipr
*.iml
*.ipr
*.iws
*~
.vscode
.classpath
/*/.classpath
/*/*/.classpath
.metadata
/*/.metadata
/*/*/.metadata
.project
.log
.settings
/*/*/target
/*/target
/target
/*/*/build
/*/build
/build
spark-warehouse
/**/job-override.properties

